.introduce-box {
    flex-direction: column;
    width: 300px;
    height: 160px;
    padding: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}

.introduce-box p {
    margin: 6px 0;
    font-size: 16px;
    color: #333;
}

.introduce-box b {
    color: #2e8b57;
}

.introduce-box button {
    margin: 15px auto 0 auto;
    display: block; /* block 요소로 만들어야 margin auto가 적용됨 */
    padding: 8px 12px;
    background-color: #2e8b57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
}

.introduce-box button:hover {
    background-color: #3cb371;
}

.introduce-box button:active {
    background-color: #2e8b57;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9ecef
}
